<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Force www prefix">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.atbutler\.co\.uk$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.atbutler.co.uk/{R:1}" />
        </rule>
        <rule name="Force HTTPS" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Found" />
        </rule>
        <rule name="Redirect Old CV Url" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="Andrew Butler - CV.pdf" />
          <action type="Redirect" url="/download/CV-Andrew-Butler.pdf" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
        <remove statusCode="404" />
        <error statusCode="404" path="404.html" />
    </httpErrors>
  </system.webServer>
</configuration>
