name: Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  version:
    name: Generate version number
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      build-number: ${{ steps.build-number.outputs.build_number }}
      version: "1.0.${{ steps.build-number.outputs.build_number }}"
      sha_short: ${{ steps.sha.outputs.sha_short }}
      informational_version: "1.0.${{ steps.build-number.outputs.build_number }}+${{ steps.sha.outputs.sha_short }}"
    steps:
      - name: Generate build number
        id: build-number
        uses: onyxmueller/build-tag-number@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          sparse-checkout: .
      - name: Generate variables
        id: sha
        run: |
          sha_short=$(git rev-parse --short HEAD)
          echo "sha_short=$sha_short"
          echo "sha_short=$sha_short" >> "$GITHUB_OUTPUT"

      - name: Output summary
        run: |
          echo '### Version' >> $GITHUB_STEP_SUMMARY
          echo '| Name | ID | Value |' >> $GITHUB_STEP_SUMMARY
          echo '| --- | --- | --- |' >> $GITHUB_STEP_SUMMARY
          echo '| Version | `version` | `1.0.${{ steps.build-number.outputs.build_number }}` |' >> $GITHUB_STEP_SUMMARY
          echo '| Build Number | `build_number` | `${{ steps.build-number.outputs.build_number }}` |' >> $GITHUB_STEP_SUMMARY
          echo '| Short SHA | `sha_short` | `${{ steps.sha.outputs.sha_short }}` |' >> $GITHUB_STEP_SUMMARY
          echo '| Informational Version | `informational_version` | `1.0.${{ steps.build-number.outputs.build_number }}+${{ steps.sha.outputs.sha_short }}` |' >> $GITHUB_STEP_SUMMARY

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: version
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Check linting
        run: npm run lint

      - name: Check formatting
        run: npx prettier --check .

      - name: Build
        run: npm run build
        env:
          VITE_APP_VERSION: ${{ needs.version.outputs.version }}
          VITE_APP_BUILD_NUMBER: ${{ needs.version.outputs.build-number }}
          VITE_APP_SHA_SHORT: ${{ needs.version.outputs.sha_short }}
          VITE_APP_INFORMATIONAL_VERSION: ${{ needs.version.outputs.informational_version }}

      - name: Deploy to Azure Storage
        uses: azure/cli@v2
        with:
          inlineScript: |
            echo "Uploading assets to Azure Storage..."
            az storage blob upload-batch --source ./dist --destination '$web' --connection-string '${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}' --overwrite
            echo "Upload completed successfully"
